<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SamHomeWork</display-name>
  
  
  protected void doGet(HttpServletRequest request, HttpServletResponse response) throws ServletException, IOException {
    // Get parameters from the request
    String firstName = request.getParameter("firstName"); // Parameter name should match the input field in HTML
    String lastName = request.getParameter("lastName");

    // Prepare response
    response.setContentType("text/html");  // Set content type
    response.getWriter().append("Welcome, ").append(firstName).append(" ").append(lastName).close();
}
  
  
</web-app>